.App-header {
    font-size: 6rem;
    font-family: sans-serif;
    margin-top: 0;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.center-container {
   display: flex;
   justify-content: center;
   align-items: center;
   outline: black 2px;
}

.home-buttons{
    border-radius: 15px;
    height: 100px;
    margin: 20px;
    font-family:  "Arial, Helvetica, sans-serif" ;
    font-size: 50px;
    width: 300px;
    background-color: rgb(182, 27, 161);
    color: aliceblue;

}
.App-main {
   background-color: rgb(189, 50, 207);
   padding: 50px;
   
}
.App-body{
    margin: 0;
}